---
layout: default
title: Home
---

{% for post in paginator.posts %}

{% capture read_time %}
{{ post .content | number_of_words | divided_by: 180 }}
{% endcapture %}

<div class="mx-auto max-w-2xl py-10">
  <div class="text-4xl post-title">
    <a href="{{ post.url }}">{{ post.title }}</a>
  </div>
  <div class="text-lg text-gray-400 pb-5">{{ post.date | date: "%B %e, %Y" }} | {% if read_time != '0' %}
    {{ read_time }}
    {% else %}
    1
    {% endif %} min read</div>
  <div class="text-lg text-gray-600">
    {{ post.content }}
  </div>
</div>
{% endfor %}


<div class="flex items-center justify-around space-x-10 py-4 text-lg">
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}">Older</a>
  {% else %}
  <span class="text-gray-200">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a href="{{ '/' }}">Newer</a>
  {% else %}
  <a href="{{ paginator.previous_page_path }}">Newer</a>
  {% endif %}
  {% else %}
  <span class="text-gray-200">Newer</span>
  {% endif %}
</div>