p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: disc;
    box-sizing: border-box;
    padding-left: 40px;
}

a {
    color: #268bd2;
    text-decoration: none;
}

.post-title a {
    color: inherit;
}

nav a {
    color: inherit;
}

h1 {
    color: rgb(49, 49, 49);
    font-weight: 400;
    font-size: 40px;
}

h2 {
  color: rgb(49, 49, 49);
  font-weight: 400;
  font-size: 30px;
}

h3 {
  color: rgb(49, 49, 49);
  font-weight: 400;
  font-size: 25px;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}