<!-- Navigation Bar -->
<nav class="flex items-center justify-center sm:justify-between space-x-10 py-4 border-b border-gray-200">
    <div class="flex text-2xl items-center ">
        {% assign images = "1,2,3,4,5,6,7,8,9" | split: ',' %}
        {% assign image = images | sample %}
        <img src="/public/images/me/{{ image }}.png" class="flex w-16 hidden md:flex">
        <a href="/" class="hover:underline navigation-item">Ryan Grier</a>
    </div> 
    <div class="hidden sm:flex space-x-5 text-xl text-gray-500">
        <a href="/about" class="{% if page.title == 'About' %}underline text-black dark:text-white {% else %}hover:underline{% endif %} navigation-item">About</a>  
        <a href="/" class="{% if page.title == 'Home' %}underline text-black dark:text-white {% else %}hover:underline{% endif %} navigation-item">Blog</a>  
        <a href="/portfolio" class="{% if page.title == 'Portfolio' %}underline text-black dark:text-white {% else %}hover:underline{% endif %} navigation-item">Portfolio</a> 
        <a href="/resume" class="{% if page.title == 'Resume' %}underline text-black dark:text-white {% else %}hover:underline{% endif %} navigation-item">Resume</a>
    </div>
</nav>